.TodoList {
  width: 200px;
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  margin-left: 20px;
}

.TodoList__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  border: 1px solid red;
}


